<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.lfa.com.rawrstudio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".views.SettingsActivity" />
        <activity android:name=".views.StandingsActivity" />
        <activity android:name=".views.Patrocinadores" />
        <activity android:name=".views.AcercaDe" />
        <activity android:name=".views.TazonPlayByPlay" />

        <receiver android:name=".broadcastreceivers.NewsReceiver" />

        <service android:name=".services.NewsNotificationService" />

        <activity android:name=".views.NewsActivity" />
        <activity android:name=".views.Equipos" />
        <activity android:name=".views.DetalleEquipos"></activity>
    </application>

</manifest>